.Landing_left_wrapper {
    max-width: 45%;
    padding-left: 5%;
    height: 100vh;
}

.Landing_map_wrapper {
    width: 50%;
    padding-right: 5%;
    height: 100%;
    position: absolute;
    left: 50%;
    top: 15%; 
    bottom: 0px;
}

.Landing_h2 {
    margin-bottom: 30px;
}

/* Large Phone */
@media screen and (max-width: 618px) {
    .Landing_left_wrapper {
        min-width: 100%;
        padding-right: 5%;
    }
    .Landing_map_wrapper {
        width: 0%;
        padding: 0;
    }
}