.App {
  min-height: 100vh;
  min-width: 100vw;
}
.App_header {
  background-color: #282c34;
  max-height: 10vh;
  display: flex;
  align-items: center;
  font-size: 1em;
  color: white;
}

.main {
  height: 100vh;
}

.App_nav {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.App_navlink_about, .App_navlink_home {
  color: white;
  text-decoration: none;
}