.Filter_div_wrapper {
    /* border: 1px solid orange; */
    min-width: 100%;
    /* display: flex; */
    /* justify-content: space-evenly; */
    /* align-items: left; */
    padding: 10px 0px 20px;
}

.Filter_button {
    border: 1px solid rgba(171, 171, 171, 0.271);
    background-color: white;
    border-radius: 10px;
    margin-right: 10%;
}

.Filter_button:hover {
    cursor: pointer;
}