/* .Filter_div_wrapper {
    min-width: 100%;
    display: flex;
    align-items: center;
    padding: 10px 0px 20px;
}

.Filter_input {
    background-color: white;
    border-radius: 10px;
}

.Filter_input:hover {
    cursor: pointer;
}

.Filter_label {
    padding: 10px 15px 10px 5px;
}

.Filter_button {
    padding: 6px;
    margin-left: 20px;
    border: none;
    border-radius: 5px;
    background-color: rgba(171, 171, 171, 0.083);
    box-shadow: 1px 1px 2px rgba(202, 202, 202, 0.584);
    text-align: center;
    width: 50px;
}

.Filter_button:hover {
    cursor: pointer;
} */

/* Tablet */
@media screen and (max-width: 768px) {

    .Filter_button {
        margin-left: 0px;
        width: 45px;
        font-size: 13px;
    }

    .Filter_label {
        font-size: 13px;
    }

}