.LocDetails_left_wrapper {
    max-width: 45%;
    padding-left: 5%;
    height: 100vh;
}

.LocDetails_div_wrapper {
    min-width: 100%;
    height: fit-content;
    margin-bottom: 20px;
}

.LocDetails_div_container {
    width: 95%;
    box-shadow: 1px 2px 5px rgba(202, 202, 202, 0.31);
    height: 100vh; /*Changed*/
    display: flex;
    flex-direction: column;
    border-radius: 10px;
}

.LocDetails_img_container {
    height: 40vh;
    width: 100%;
    background-color: rgba(168, 168, 168, 0.396);
    border-radius: 8px;
}

.LocDetails_contents_container {
    padding: 5px;
    width: 100%;
}

/*Changed*/
.LocDetails_icons_container, .LocDetails_distance_container, .LocDetails_params_icon_container, .LocDetails_heading_container {
    display: flex;
    flex-direction: row;
}

.LocDetails_heading_container {
    display: flex;
    justify-content: space-between;
}

/*Changed added LocDetails_icon_upvote + downvote*/
.LocDetails_params_icon_container,
#LocDetails_icon_unisex,
#LocDetails_icon_accessible,
#LocDetails_icon_upvote,
#LocDetails_icon_downvote {
    margin-right: 5px;
}

.LocDetails_p {
    font-size: smaller;
    margin: 0;
    margin-right: 20px;
}

.LocDetails_h3 {
    margin-top: 5px;
    font-size: 1em;
}

@media screen and (max-width: 719px){
    .LocDetails_p {
        word-wrap: break-word;
        word-break:break-all ;
    }
}

@media screen and (max-width: 610px){
    .LocDetails_left_wrapper {
        min-width: 100%;
    }
}
