.Search_div_container {
    min-width: 100%;
    height: 50px;
    display: flex;
    flex-direction: column;
}
.Search_form {
    min-height: 100%;
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.Search_input{
    border: none;
    background-color: #cbbfea1d;
    height: 95%;
    width: 40%; /* After form change */
    text-indent: 4%;
    padding: 0;
    overflow: scroll;
}

#Input_street {
    border-radius: 10px 0px 0px 10px;
}

.Search_button {
    border: none;
    background-color: transparent;
    padding: 0;
    height: 98%;
    width: auto;
}

.Search_icon {
    height: 100%;
    width: auto;
    border-radius: 0px 10px 10px 0px;
}

.Search_button:hover {
    cursor: pointer;
}

@media screen and (max-width: 899px){
    #Input_state {
      width: 20%; 
    }

    #Input_town {
        width: 25%;
    }
}

/* Tablet */
@media screen and (max-width: 760px) {
    .Filter_label {
        font-size: 13px;
    }
}

@media screen and (max-width: 620px){
    #Input_one {
        width: 60%;
    }
}

/* Large phone */
@media screen and (max-width: 430px) {
        .Search_input {
          width: 40%; 
        }
    
        .Filter_label {
            font-size: 13px;
        }
    
        .Search_form {
            overflow: scroll;
        }

        .Search_div_container {
            position: sticky;
        }
    }