.Map_div_wrapper {
    margin-top: 20px;
    height: 80%;
    display: flex;
    justify-content: center;
    border-radius: 15px;
}

/* Large Phone */
/* @media screen and (max-width: 618px) {
    .Landing_map_wrapper {
        display: none;
    }
} */